{% extends 'base.html' %}
{% block title %}
    Listing Details
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="text-left">
                            Table of {{ listings.name }}
                        </div>
                    </div>
                    <div class="col-6" style="align-self: center; text-align: right;">
                        <div class="text-right ">
                             Number of Rows : {{ listings.reservations.count }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <table class="table">
                <!-- Your table header here -->
                <tbody>
                {% for reservation in reservations_page %}
                    <tr>
                        <th scope="row">{{ reservations_page.start_index|add:forloop.counter0 }}</th>
                        <td>{{ reservation.name }}</td>
                        <td>{{ reservation.start_date }}</td>
                        <td>{{ reservation.end_date }}</td>
                        <td>{{ reservation.get_difference_date_days }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if reservations_page.has_previous %}

                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ reservations_page.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>

                        {% endif %}


                        {% for i in reservations_page.paginator.page_range %}
                            {% if i == reservations_page.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ i }} <span class="sr-only"></span></a>
                                <li>
                                    {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if reservations_page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ reservations_page.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>




{% endblock %}